  @media screen and (max-width: 600px) {
  body{
    width: 100% !important;
  }
  #menu{
    width: 100%;
  }
  #page-top{
    width: 100%;
  }
  #root{
    width: 100%;
  }
  #header{
    width: 100%;
  }
  .intro h1{
    font-size: 50px!important;
  }
  .intro p{
    font-size: 15px;
  }
  .btn-custom{
    margin-bottom: 10px;
  }
  #features {
    padding: 20px;
    width: 100%;
  }
  #header,
  #pom,
  #about,
  #services,
  #testimonials,
  #contact,
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 100%;
  }
  .portfolio-items{
    margin-left: 10%;
    margin-right: 10%;
  }
  .sm-mb-2{
    margin-bottom: 10%;
  }
  .team .caption .description p {
    font-size: 8px;
  }
  .team .caption h4 {
    font-size: 18px;
  }

}  



